@model PrviLabos.Model.Vehicle
@{
    var brand = Model.Brand.Trim();
    var brandKey = brand.ToLowerInvariant() switch
    {
        "skoda" => "skoda",
        "volkswagen" => "volkswagen",
        "renault" => "renault",
        "mercedes" => "mercedes",
        _ => "generic"
    };

    var imagePath = brandKey switch
    {
        "skoda" => "/images/brands/skoda.png",
        "volkswagen" => "/images/brands/volkswagen.png",
        "renault" => "/images/brands/renault.jpg",
        "mercedes" => "/images/brands/mercedes.png",
        _ => "/images/brands/generic.svg"
    };
}

<span class="ux-vehicle-brand-mark ux-vehicle-brand-mark--@brandKey" title="@brand" aria-label="@brand brand logo">
    <img class="ux-vehicle-brand-mark-image"
         src="@imagePath"
         alt=""
         loading="lazy" />
</span>
